@media only screen and (min-width: 240px) and (max-width: 991px) {
  .navbar-nav {
    text-align: center;
  }
}
.carousel-item {
  background-color: #000000;
}
img {
  height: 500px;
  opacity: 0.4;
}
html {
  background-color: #000000;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
